h1 {
    color:red;
    text-align: center;
}

.center {
    text-align: center;
}

.container {
    width: max-content; 
    outline: dashed 1px black; 
    margin: 0 auto;
    padding: 10px;
}

.btn-refresh {
    background-color:brown; 
    color:white;
}